.filterButton {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  margin-bottom: 8px;
  letter-spacing: 2.75%;
}

.listCont {
  width: 206px;
  height: 30px;
}

.listButton {
  width: 100%;
  background: transparent;
  display: flex;
  cursor: pointer;
  margin-bottom: 22px;
} 

.listButtonSymbol {
  margin-right: 26px;
}