.banner {
  margin-bottom: 86px
}

.selectSort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
}

.catalog {
  width: 1229px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 121px;
}

.filters {
  min-width: 248px;
  margin-right: 87px;
}

.cardsCont {
  width: 1230px;
  margin: 0 auto;
}

.cards {
  width: 895px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}