.cont {
  height: 37px;  width: 160px;

  width: 210px;
  border: 1px solid var(--gray-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px 0px 12px;
}

.title {
  font-size: 13px;
  letter-spacing: -0.3px;
  color: var(--gray-400);
}

.select {
  border: none;
}