.promo {
  display: flex;
  justify-content: center;
  font-family: var(--openSans);
  background-color: var(--green-400);
}

.cont {
  margin: 0 auto;
  padding: 12px 20px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  flex: 1;
}

.title {
  width: 454px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-100);
}

.info {
  display: flex;
  margin-left: 200px;
}

.currency {
  font: 400 16px var(--openSans);
  color: var(--gray-100);
  margin-right: 23px;
}

.supportLink {
  font: 700 16px var(--openSans);
  color: var(--gray-100);
}