.range {
  cursor: pointer;
  appearance: none;
  border-radius: 10px;
  width: 100%;
  background-color: var(--green-200);
  margin-bottom: 10px;

    &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: var(--green-500);
    cursor: pointer;
  }
}


