:root {
  // FONTS
 --roboto: Roboto;
 --publicSans: PublicSans;  
 --poppins: Poppins;
 --openSans: OpenSans;

 // COLORS
 --gray-100: #FFFFFF;
 --gray-200: #FDFBF7;
 --gray-300: #979797;
 --gray-400: #7C8087;
 --gray-500: #343434;
 --gray-600: #000000;

 --green-100: #F7F8FA;
 --green-200: #E8EDDE;
 --green-300: #5BC08A;
 --green-400: #50806B;
 --green-500: #506B52;

 --red-100: #D11F1F;

 --blue-100: #1D293F;
}