.navContainer {
  margin: 0 auto;
  width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  padding: 7px 0px;
  box-shadow: var(--shadowBlack-100);
}

.navbar {
  width: 539px;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  font-size: 17px;
}

.popover {
  width: 300px;
  border-radius: 10px;
  background-color: var(--green-400);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
