.wrapper {
  width: 100%;
  height: calc(100% - 110px);
  background-color: rgba(80, 128, 107, 0.31);
  position: absolute;
  top: 110px;
}

.closeButton {
  background-color: transparent;
  width: 30px;
  height: 30px;
}

