.popover {
  width: 300px;
  border-radius: 10px;
  background-color: var(--green-400);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.basketMessage {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}