.navContainer {
  margin: 0 auto;
  width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  padding: 7px 0px;
  box-shadow: var(--shadowBlack-100);
}

.navbar {
  width: 539px;
  font: 400 17px var(--openSans);
  display: flex;
  justify-content: space-between;
}

.navLink {
  color: var(--gray-600);
}
