.promoCont {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--openSans);
  background-color: var(--green-400);
  padding: 10px 0px 13px 0px;
}

.promoTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-100);
}

.navigationCont {
  display: flex;
  padding: 0px 87px 0px 148px;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  box-shadow: var(--shadow);
}

.logo {
  width: 195px;
}

.navbar {
  width: 539px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font: 400 17px var(--openSans);
}

.link {
  text-decoration: none;
  color: var(--gray-600);
}
