.cont {
  width: 100%;
}

.border {
  display: flex;
  padding: 10px 148px 13px 473px;
  justify-content: center;
  font-family: var(--openSans);
  background-color: var(--green-400);
}

.borderTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-100);
}

.borderInfo {
  display: flex;
  margin-left: 200px;
}

.currency {
  font: 400 16px var(--openSans);
  color: var(--gray-100);
  margin-right: 23px;
}

.supportLink {
  text-decoration: none;
  font: 700 16px var(--openSans);
  color: var(--gray-100);
}

.navigationCont {
  display: flex;
  padding: 0px 87px 0px 148px;
  justify-content: space-between;
  background-color: var(--gray-100);
  align-items: center;
  height: 61px;
  box-shadow: var(--shadow);
}

.logo {
  width: 195px;
}

.navbar {
  width: 539px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font: 400 17px var(--openSans);
}

.navLink {
  text-decoration: none;
  color: var(--gray-600);
}
