.wrapper {
  display: flex;
  align-items: center;
}

.button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  cursor: pointer;
}

.buttonImg {
  width: 100px;
  height: 100px;
}

.image {
  width: 650px;
  height: 650px;
}