.wrapper {
  display: flex;
  align-items: center;
}

.button {
  width: 80px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
}

.buttonImg {
  width: 80px;
  height: 80px;
}

.image {
  width: 500px;
  height: 500px;
}