.cont {
  width: 100vw;
  height: 100vh;
  background-color: var(--green-400);
}

.messageCont {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding-top: 300px;
}

.messageText {
  margin-bottom: 20px;
}

.messageBtn {
  margin: 0 auto;
}