.cont {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 48px 0px;
}

.footer--green {
  background-color: var(--green-200); 
}

.navigation {
  margin-bottom: 36px;
}

.navLink {
  font: 500 16px var(--roboto);
  padding: 0 16px;
}

.social {
  width: 184px;
  margin: 0 auto;
}