.header {
  width: 1228px;
  height: 131px;
  border-bottom: 1px solid var(--gray-600);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.title {
  display: inline-block;
}

.shopArticle {
  font-size: 30px;
  text-transform: uppercase;
}